{{#if currentUser.can_see_topic_group_button}}
    <div class="hover_bkgr_fricc" id="myForm">
    	<span class="helper"></span>
    <div>
    <h1>Topic-Organizer</h1>

    <form autocomplete="off">
        <div class="autocomplete" style="width:300px;">
            {{!-- <input id="myInput" type="text" name="myCountry" placeholder="Search for topics.." onkeyup={{action "autocomplete"}}> 
 --}}
            {{input id="myInput" type='text' value=input_text name="myCountry" placeholder="Search for topics.." key-press=(action "autocomplete") }}

        </div>
        {{!-- <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
        <label class="onoffswitch-label" for="myonoffswitch">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
        </label>
        </div> --}}

    <button id="addt" type="submit" {{action "addtopic"}}>Add</button>
    <input type="hidden" id="flag" value="false">
</form>
   
    <div id="prereq-list" align="left"></div>
     <br><br>

     
    <button type="submit" class="btn submit" >OK</button>
    <button type="button" class="btn cancel" {{action "closeForm"}}>Close</button>
  	</div>
</div>
{{/if}}
