 <div class="search row clearfix">
      {{search-text-field value=searchTerm class="full-page-search input-xxlarge search no-blur" action="search" hasAutofocus=hasAutofocus}}
      {{d-button action="search" icon="search" class="btn-primary" disabled=searchButtonDisabled}}
</div>