.hover_bkgr_fricc {
  /*background: rgba(0, 0, 0, .85);*/
  cursor: pointer;
  display: none;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  color:#5e6367;
  z-index: 1000000;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

}

.hover_bkgr_fricc.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;

}

.hover_bkgr_fricc>div {
  background-color: #fff;
  display: inline-block;
  height: auto;
  max-width: 751px;
  min-height: 200px;
  max-height: 550px;
  vertical-align: middle;
  margin: auto;
  width: 60%;
  position: relative;
  top: 10%;
  /*bottom: -5%;*/
  border: 10px solid #888;
  overflow: scroll;
}

@media only screen and (max-width: 600px) {
  .hover_bkgr_fricc h1{
    font-size:20px;
  }  
}

* {
  box-sizing: border-box;
}

body {
  font: 16px Arial;
}

/*the container must be positioned relative:*/

button#addt {
  background-color: #0f82af;
}

.autocomplete {
  position: relative;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  box-sizing: border-box;
  /*max-height: 400px;*/
}

input {
  border: 1px solid transparent;
  background-color: green;
  padding: 10px;
  font-size: 16px;
}

.autocomplete input[type=text] {
  background-color: #fff;
  color:#5d4949;
  width: 100%;
  position: relative;
  display: inline-block;
    border-radius: 4px;
  /*max-height: 400px;*/
}

.pre_post_switch{
  width: 100%;
}

.pre_post_switch input[type=radio] {
  color:#5e6367;
  text-align: justify;
}

@media only screen and (max-width: 600px) {

}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}



.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/

.autocomplete-items div:hover {
  background-color: DodgerBlue;
}

/*when navigating through the items using the arrow keys:*/

.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

#prereq-list {
  list-style-type: none;
}

.chip {
  display: block;
  padding: 0 10px;
  height: auto;
  font-size: 15px;
  line-height: 20px;
  border-radius: 5px;
  border: 2px;
  top: 5px;
  background-color: #99bdd8;
  max-width: 60%;
  text-align: center;
  transform: translateY(-50%);
  margin-bottom: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
  cursor: move;
}


@media only screen and (max-width: 600px) {
  .chip{
      display: block;
      padding: 0 5px;
      height: auto;
      font-size: 10px;
      line-height: 15px;
      border-radius: 3px;
      border: 1px;
      top: 3px;
      background-color: #99bdd8;
      max-width: 95%;
      text-align: center;
      transform: translateY(-50%);
      margin-bottom: 2px;
      padding-bottom: 2px;
      padding-top: 2px;
      cursor: move;
  }
}



.chip header {
  height: 20px;
  width: 150px;
  color: black;
  background-color: #ccc;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  border-radius: 10px;
  border: 2px solid #666666;
}

.chip.dragElem {
  opacity: 0.4;
}

.chip.over {
  opacity: 1;
  //border: 2px dashed #000;
  border-top: 2px solid blue;
}

/*.chip {
  display: block;
  padding: 0 15px;
  height: 50px;
  font-size: 15px;
  line-height: 50px;
  border-radius: 5px;
  border: 2px;
  top: 10px;
  background-color: #99bdd8;
  max-width: 90%;
  text-align: center;
  transform: translateY(-50%);
}*/

.closebtn {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .closebtn{
    font-size:15px;
  }  
}

.closebtn:hover {
  color: #000;
}


/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 250px;
  /* Set a default minimum width */
  margin-left: -125px;
  /* Divide value of min-width by 2 */
  background-color: #333;
  /* Black background color */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 2px;
  /* Rounded borders */
  padding: 16px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1;
  /* Add a z-index if needed */
  left: 50%;
  /* Center the snackbar */
  bottom: 30px;
  /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

/*tooltip css */
.tooltip {
  position: relative;
  bottom: 0px;
  right: -37%;
  display: inline-block;
  border-radius: 50%;
  /*border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  right: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.autocomplete ul li a span.username {
    color: #8e8888;
}